@charset "UTF-8";

@media screen and (max-width: 768px) {
  section {
    display: flex;
    height: 100px;
    padding: 0px;
    justify-content: flex-start;
    align-items: center;
  }

  figure {
    padding: 20px 0px 20px 20px;
  }

  figure > img {
    border-radius: 10px;
    background-color: white;
    height: 40px;
  }

  h1 {
    padding: 0px 100px 0px 10px;
    color: #f6881a;
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px;
  }

  figure {
    padding: 20px 0px 20px 20px;
  }

  figure > img {
    height: 90px;
  }

  h1 {
    font-size: 25px;
    padding: 0px 100px 0px 10px;
    color: #f6881a;
  }
}
